@font-face {
    font-display: fallback;
    font-family: 'GenShinGothic P Heavy';
    src: url('../fonts/GenShinGothic-P-Heavy.ttf') format('truetype');
}

div {
    display: flex;
    color: #ffffff;
    font-family: 'GenShinGothic P Heavy', sans-serif;
    text-shadow: #00000080 0 0 0.1em, #00000080 0 0 0.2em, #00000080 0 0 0.3em,
        #00000080 0 0 0.4em, #00000080 0 0 0.5em;
}

.fill {
    height: 100%;
    width: 100%;
}

.main {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    width: 100vw;
}

.container {
    justify-content: center;
}

.header,
.header-background,
.header-text {
    justify-content: center;
    position: absolute;
}

.footer {
    bottom: 0;
    position: absolute;
}

.text {
    align-items: center;
    justify-content: center;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.event-background {
    height: calc(18vmin / 480 * 100);
    position: absolute;
    width: calc(128vmin / 480 * 100);
}

.score-background {
    height: calc(26vmin / 480 * 100);
    position: absolute;
    width: calc(204vmin / 480 * 100);
}

.player-background {
    height: calc(34vmin / 480 * 100);
    position: absolute;
    width: calc(560vmin / 480 * 100);
}

.event-text {
    font-size: calc(10vmin / 480 * 100);
    height: calc(16vmin / 480 * 100);
    position: absolute;
    width: calc(124vmin / 480 * 100);
}

.score-outer-text {
    justify-content: space-between;
    position: absolute;
    width: calc(200vmin / 480 * 100);
}

.score-text {
    font-size: calc(16vmin / 480 * 100);
    height: calc(24vmin / 480 * 100);
    width: calc(44vmin / 480 * 100);
}

.player-outer-text {
    justify-content: space-between;
    position: absolute;
    width: calc(556vmin / 480 * 100);
}

.player-text {
    font-size: calc(20vmin / 480 * 100);
    height: calc(32vmin / 480 * 100);
    width: calc(188vmin / 480 * 100);
}
